* text=auto
*.sh text eol=lf
*.py text eol=lf
*.tcl text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.sch text eol=lf
*.sym text eol=lf
*.spice text eol=lf
*.gds binary
*.oas binary
*.bat text eol=crlf
